.vjs-placeholder {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #000; /* Black background for any letterboxing */
}

.vjs-placeholder img {
    /* Ensure the image covers the entire area without distortion */
    width: 100%;
    height: 100%;
    object-fit: cover; 
}
